<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        name="email"
        ngModel
        type="email"
        placeholder="E-Mail"
        #emailInput="ngModel"
        required email
      />
      <!--
        name="title"
        [ngModel]="post?.title"
        required
        minlength="3"
        #title="ngModel" -->
      <!-- ?: นี่เรียกว่า Elvis Operator ถ้าข้างหน้าไม่เป็น null ใช้ข้างหน้า ถ้าเป็น null ใช้ข้างหลัง (Kotlin)-->
      <mat-error *ngIf="emailInput.invalid"
        >Please enter a valid email.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
      type="password"
      name="password"
      matInput
      ngModel
      placeholder="Password"
      #passwordInput="ngModel"
      required
      >
      <!--
        name="content"
        [ngModel]="post?.content"
        required
        #content="ngModel" -->
      <mat-error *ngIf="passwordInput.invalid"
        >Please enter a valid password.</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Login</button>
  </form>
</mat-card>
